/*
Version: 3.4.5 Timestamp: Mon Nov  4 08:22:42 PST 2013
*/
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle; }

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */ }

.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, #fff 0%, #eee 50%); }

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(top, #eee 0%, #fff 90%); }

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px; }

.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url("select2.png") right top no-repeat;
  cursor: pointer;
  outline: 0; }

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block; }

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer; }

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); }

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto; }

.select2-drop-auto-width .select2-search {
  padding-top: 4px; }

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15); }

.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none; }

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb; }

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
  background-image: linear-gradient(top, #ccc 0%, #eee 60%); }

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("select2.png") no-repeat 0 1px; }

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap; }

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff url("select2.png") no-repeat 100% -22px;
  background: url("select2.png") no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
  background: url("select2.png") no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: url("select2.png") no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: url("select2.png") no-repeat 100% -22px, linear-gradient(top, #fff 85%, #eee 99%); }

.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px; }

.select2-search input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100%;
  background: url("select2-spinner.gif") no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
  background: url("select2-spinner.gif") no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: url("select2-spinner.gif") no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: url("select2-spinner.gif") no-repeat 100%, linear-gradient(top, #fff 85%, #eee 99%); }

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(top, #fff 0%, #eee 50%); }

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(bottom, #fff 0%, #eee 50%); }

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none; }

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px; }

/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent; }

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0; }

.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px; }

.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px; }

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none; }

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold; }

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff; }

.select2-results li em {
  background: #feffde;
  font-style: normal; }

.select2-results .select2-highlighted em {
  background: transparent; }

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000; }

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item; }

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default; }

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default; }

.select2-results .select2-selected {
  display: none; }

.select2-more-results.select2-active {
  background: #f4f4f4 url("select2-spinner.gif") no-repeat 100%; }

.select2-more-results {
  background: #f4f4f4;
  display: list-item; }

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default; }

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0; }

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none; }

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(top, #eee 1%, #fff 15%); }

.select2-locked {
  padding: 3px 5px 3px 5px !important; }

.select2-container-multi .select2-choices {
  min-height: 26px; }

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none; }

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap; }

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important; }

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100% !important; }

.select2-default {
  color: #999 !important; }

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%); }

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default; }

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4; }

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  background: url("select2.png") right top no-repeat; }

.select2-container-multi .select2-search-choice-close {
  left: 3px; }

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px; }

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px; }

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none; }

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline; }

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important; }

.select2-display-none {
  display: none; }

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll; }

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
    background-image: url("select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important; }
  .select2-search input {
    background-position: 100% -21px !important; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 
CSS begins
*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  background: -webkit-linear-gradient(white, white, white, #cccccc);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, white, white, #cccccc);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, white, white, #cccccc);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, white, white, #cccccc);
  /* Standard syntax */
  height: 100%;
  overflow-y: hidden; }

#pagewrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: auto; }

#header {
  padding: 0 1%;
  background-color: #e35a4e;
  color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 4.5%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

#header a {
  color: #fff;
  text-decoration: none; }

@font-face {
  font-family: "Helvetica";
  /*src: url("../fonts/SF_Wonder_Comic.ttf");*/
  font-style: normal;
  font-weight: 200; }

sup {
  vertical-align: super;
  font-size: .35em; }

sub {
  font-size: .5em;
  text-align: left; }

h1 {
  font-family: "Helvetica";
  text-align: left;
  font-size: 3.5vh;
  padding-top: 0.45vh; }

#lynx {
  float: right;
  padding: 0.75vh 3% 0 0; }

ul#horizontal {
  display: inline-block;
  list-style: none; }

ul#horizontal li {
  padding-left: 0.6em;
  display: inline-block; }

ul#horizontal li a {
  color: #f2f2f2; }

ul#horizontal li a:hover {
  color: white; }

.icon {
  width: 16px;
  height: 16px;
  fill: currentColor; }

.icon-mail3 {
  width: 24px; }

#content {
  height: 92%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  top: 5%; }

#article {
  font-family: arial, verdana, sans-serif;
  font-size: 1em;
  padding-top: 3em;
  height: auto;
  max-width: 474px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  top: 6%; }

#article h2 {
  font-family: arial, verdana, sans-serif;
  color: #d40000;
  font-size: 1.5em;
  padding-bottom: 0.3em; }

#article p {
  font-family: arial, verdana, sans-serif;
  color: #000;
  padding-bottom: 1em;
  text-align: justify; }

#article strong {
  font-weight: bold; }

#article a {
  font-family: arial, verdana, sans-serif;
  color: #d40000;
  text-decoration: none; }

#article a:hover {
  color: #f00; }

#back {
  font-family: arial, verdana, sans-serif;
  color: #d40000;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  float: right; }

svg {
  overflow: visible; }

#svg1 {
  height: 100%;
  width: 100%; }

#sidebar {
  position: fixed;
  right: 1%;
  bottom: 2%;
  width: 23%;
  min-width: 260px;
  height: auto;
  font-family: sans-serif;
  font-size: 0.8em;
  overflow: hidden;
  z-index: 100; }

input.color {
  width: 50px; }

div.looking_glass {
  position: fixed;
  top: 8%;
  left: 3%;
  font-family: "SF Wonder Comic";
  font-size: 1.25em; }

div.lg {
  display: block;
  width: auto;
  max-width: 10vw;
  height: 15vh;
  margin-bottom: 0.15em;
  background-color: rgba(204, 204, 204, 0.2);
  border-radius: 5px;
  overflow: hidden; }

div.lg:hover {
  background-color: rgba(204, 204, 204, 0.4); }

svg.lg {
  width: 100%;
  height: 100%;
  opacity: 0.5; }

svg.lg:hover {
  opacity: 1; }

div.lg a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  padding: 0.5em 0 0 0.1em; }

#bread {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  position: fixed;
  bottom: 5%;
  left: 50%;
  margin-left: -333px;
  width: 100%; }

#crumbs ul li a {
  display: block;
  float: left;
  height: 25px;
  background: rgba(255, 0, 0, 0.2);
  text-align: center;
  padding: 15px 27px 0 33px;
  position: relative;
  margin: 0 5px 0 20px;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  z-index: 3; }

#crumbs ul li a:after {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 40px solid rgba(255, 0, 0, 0.2);
  border-right: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: -20px;
  z-index: 3; }

#crumbs ul li a:before {
  content: "";
  border-top: 40px solid rgba(255, 0, 0, 0.2);
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  left: -20px;
  top: 0; }

#crumbs ul li:first-child a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

#crumbs ul li:first-child a:before {
  display: none; }

#crumbs ul li:last-child a {
  padding-right: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

#crumbs ul li:last-child a:after {
  display: none; }

#crumbs ul li a:hover {
  background: rgba(255, 0, 0, 0.7); }

#crumbs ul li a:hover:after {
  border-bottom-color: rgba(255, 0, 0, 0.7); }

#crumbs ul li a:hover:before {
  border-top-color: rgba(255, 0, 0, 0.7); }

.Table {
  display: table;
  width: 100%; }

.Row {
  display: table-row; }

.Cell {
  display: table-cell;
  width: 100%; }

footer {
  clear: both;
  background-color: #e35a4e;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: black;
  text-align: center;
  font-size: .5em;
  width: 100%;
  height: 1%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top-width: 0px;
  border-top-color: red;
  border-top-style: solid; }

footer a {
  color: white;
  text-decoration: none; }

#infinity {
  position: relative;
  width: 212px;
  height: 100px; }

@media screen and (max-width: 650px) {
  #pagewrap {
    width: 100%; }
  sup {
    vertical-align: super;
    font-size: .5em; }
  sub {
    font-size: .5em;
    text-align: left; }
  #main-nav {
    position: static; }
  #site-logo {
    margin: 15px 100px 5px 0;
    position: static; }
  #site-description {
    margin: 0 0 15px;
    position: static; }
  #content {
    width: auto;
    float: none; } }

#tabbed_box {
  margin: 0px auto 0px auto;
  width: 300px; }

.tabbed_area {
  border: 1px solid #494e52;
  background-color: #f2f2f2;
  padding: 8px; }

ul.tabs {
  margin: 0px;
  padding: 0px; }

ul.tabs li {
  list-style: none;
  display: inline; }

ul.tabs li a {
  background-color: #f2f2f2;
  color: #fff;
  padding: 8px 4px 5px 4px;
  text-decoration: none;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e6e6e6; }

ul.tabs li a:hover {
  background-color: #2f343a;
  border-color: #e6e6e6; }

ul.tabs li a.active {
  background-color: #ffffff;
  color: #282e32;
  border: 1px solid #e6e6e6;
  border-bottom: 1px solid #ffffff; }

.content {
  background-color: rgba(255, 255, 255, 0.5);
  color: #808080;
  padding: 10px;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 0 0 2vh 2vh;
  -webkit-border-radius: 0 0 2vh 2vh;
  border-radius: 0 0 2vh 2vh; }

#content_2, #content_3, #content_4 {
  display: none; }

ul.tabs {
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px; }

.content ul {
  margin: 0px;
  padding: 0px 20px 0px 20px; }

.content ul li {
  list-style: none;
  border-bottom: 1px solid #d6dde0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px; }

.content ul li a {
  text-decoration: none;
  color: #3e4346; }

.content ul li a small {
  color: #8b959c;
  font-size: 9px;
  text-transform: uppercase;
  position: relative;
  left: 4px;
  top: 0px; }

.content ul li:last-child {
  border-bottom: none; }

ul.tabs li a {
  background-color: #e35a4e;
  background-repeat: repeat-x;
  background-position: bottombottom; }
