#tabbed_box {
  margin: 0px auto 0px auto;
  width: 300px; }

.tabbed_area {
  border: 1px solid #494e52;
  background-color: #f2f2f2;
  padding: 8px; }

ul.tabs {
  margin: 0px;
  padding: 0px; }

ul.tabs li {
  list-style: none;
  display: inline; }

ul.tabs li a {
  background-color: #f2f2f2;
  color: #fff;
  padding: 8px 4px 5px 4px;
  text-decoration: none;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e6e6e6; }

ul.tabs li a:hover {
  background-color: #2f343a;
  border-color: #e6e6e6; }

ul.tabs li a.active {
  background-color: #ffffff;
  color: #282e32;
  border: 1px solid #e6e6e6;
  border-bottom: 1px solid #ffffff; }

.content {
  background-color: rgba(255, 255, 255, 0.5);
  color: #808080;
  padding: 10px;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 0 0 2vh 2vh;
  -webkit-border-radius: 0 0 2vh 2vh;
  border-radius: 0 0 2vh 2vh; }

#content_2, #content_3, #content_4 {
  display: none; }

ul.tabs {
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px; }

.content ul {
  margin: 0px;
  padding: 0px 20px 0px 20px; }

.content ul li {
  list-style: none;
  border-bottom: 1px solid #d6dde0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px; }

.content ul li a {
  text-decoration: none;
  color: #3e4346; }

.content ul li a small {
  color: #8b959c;
  font-size: 9px;
  text-transform: uppercase;
  position: relative;
  left: 4px;
  top: 0px; }

.content ul li:last-child {
  border-bottom: none; }

ul.tabs li a {
  background-color: #e35a4e;
  background-repeat: repeat-x;
  background-position: bottombottom; }
