/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
CSS begins
*/

article, aside, details, figcaption, figure, footer, eader, hgroup, menu, nav, section { 
    display: block;
}

html {
	height: 100%;
}

body {
    background: -webkit-linear-gradient(#eaebf0, #fafafa, #eaebf0, #c0c0c7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eaebf0, #fafafa, #eaebf0, #c0c0c7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eaebf0, #fafafa, #eaebf0, #c0c0c7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eaebf0, #fafafa, #eaebf0, #c0c0c7); /* Standard syntax */
	height: 100%;
	overflow-y:hidden;
    position: relative;
}

.modal {
     position: absolute;
     top: 16%;
     left: 5%;
     width: 90%;
     height: 68%;
     background-color: #f2f2f2;
     box-shadow: 5px 10px 5px #888888;
     visibility: hidden;
}

#pagewrap {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-y: auto;
}

#header {
	padding: 0 1%;
	background-color: #e35a4e;
	color: #f2f2f2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	height: 5.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header a {
	color: #f2f2f2;
	text-decoration: none;
}

@font-face {
	font-family: "Helvetica";
	/*src: url("../fonts/SF_Wonder_Comic.ttf");*/
	font-style: normal;
	font-weight: 200;
}

sup {
	vertical-align: super;
	font-size: .35em; 
}

sub {
	font-size: .5em; 
	text-align:left;
} 

h1 {
	font-family: "Helvetica";
	text-align:left;
	font-size: 3.5vh;
    padding-top: 0.45vh;
}

#lynx {
    float: right;
    padding: 0.75vh 3% 0 0;
}

ul#horizontal {
    display: flex;
	list-style: none;
}

ul#horizontal li {
	padding-left: 0.6em;
}

ul#horizontal li a {
    display: flex;
    align-items: center;
	color: #f2f2f2;
}

ul#horizontal li a:hover {
	color: white;
}

.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.icon-mail3 {
    width: 24px;
}

.zoom-container {
    position: absolute;
    top: 8%;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zoom-icon {
    fill: currentColor;
    color: #e35a4e;
    width: 16px;
    height: 16px;
    
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 5px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 8px;
    height: 175px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #e35a4e;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 8px;
    height: 175px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #e35a4e;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 8px;
    height: 175px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #e35a4e;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

#picker {
     position: absolute;
     top: 7%;
     width: 180px;
     right: 7%;
     height: 180px;
}

#slide {
    position: absolute;
    top: 7%;
    right: 3%;
    width: 25px;
    height: 180px;
}
.path {
    color:#000000;
    display:inline;
    overflow:visible;
    visibility:visible;
    fill:none;
    stroke:#e35a4e;
    stroke-width:1.5;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:10;
    stroke-dashoffset:0;
    stroke-opacity:1;
    marker:none;
    enable-background:accumulate;
}

.menu-text {
    font-family: Helvetica;
    font-size: 12px;
    margin: 4px;
    box-sizing: border-box;
}

.template {
    color: #e35a4e;
    fill: currentColor;
    stroke-width: 0;
}

.male {
    color: #e35a4e;
    fill: currentColor;
    stroke-dasharray:1726;
    animation: homme 3s linear;
}

.male:hover {
    animation: fadeIn 250ms linear;
    fill-opacity: 1;
}

.female {
    color: #e35a4e;
    fill: currentColor;
    stroke-dasharray:1200;
    animation: femme 3s linear;
}

.female:hover {
    animation: fadeIn 250ms linear;
    fill-opacity: 1;
}

@keyframes fadeIn {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}

@keyframes homme {
    from {
        stroke-dashoffset: 1726;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes femme {
    from {
        stroke-dashoffset: 1200;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#content {
	height: 92%;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	top: 15px;
}

#article {
	font-family: arial, verdana, sans-serif;
	font-size: 1em;
	padding-top: 2.5em;
	margin: 0 auto;
	z-index: 0;
    width: 90%;
	max-width: 474px;
}

#article h2 {
	font-family: helvetica, arial, verdana, sans-serif;
	color: #d40000;
	font-size: 1.5em;
	padding-bottom: 0.3em;
}

#article p {
	font-family: arial, verdana, sans-serif;
	color: #000;
	padding-bottom: 1em;
	text-align: justify;
}

#article strong {
	font-weight:bold;
}

#article a {
	font-family: arial, verdana, sans-serif;
	color: #d40000;
	text-decoration: none;
}

#article a:hover {
	color: #f00;
}

#back {
	font-family: arial, verdana, sans-serif;
	color: #d40000;
	font-size: 0.8em;
	text-transform: uppercase;
	text-decoration: none;
	float: right;
}

#svg1 {
	height: 100%;
	width: 100%;
}

#sidebar {
    display: block;
	position: fixed;
	right: -32%;
	bottom:13%;
	width: 23%;
	min-width: 260px;
	height: auto;
	font-family: helvetica, sans-serif;
	font-size: 0.8em;
	overflow: hidden;
    opacity: 0;
}

.select-group {
    display: flex;
    flex-direction: row;
    allign-items: center;
    justify-content: space-around;
}

.select-group select {
    /*border-radius: 10px 0 0  10px;*/
}

input.color{
	width: 50px;
    height: 10px;
    border-radius: 0 10px 10px 0; 
}

.Table {
    display: table;
	width: 100%;
}

.Row {
    display: table-row;
}

.Cell {
    display: table-cell;
	width: 100%;
}

#gmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
     width: 100%;
     height: 12%;
     position: fixed;
     bottom: 0;
     li {
        flex-grow: 1;
    }
}

footer {
	clear: both;
	background-color: #e35a4e;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	color: #f2f2f2;
	text-align: center;
	font-size: .5em;
	width: 100%;
	height: 4.5%;
	position: fixed;
	bottom: 0;
	left: 0;
}

footer a {
	color: white;
	text-decoration: none;
}

#nav-left {
	font-size: 3vh;
	font-family: arial, verdana, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
    padding: 1vh 1%;
     height: 100%;
     width: 5%;
     float: left;
     color: #fff;
     /*visibility: hidden;*/
     opacity: 0;
}

#step-by-step {
    height: 100%;
	padding: 1vh 0;
    display: inline-block;
    color: #f2f2f2;
	font-size: 3vh;
	font-family: arial, verdana, sans-serif;
    text-transform: uppercase;  
	text-decoration: none;
    text-align: middle;
    /*visibility: hidden;*/
     opacity: 0;
}

#nav-right {
	font-size: 3vh;
	font-family: arial, verdana, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
    padding: 1vh 1%;
     height: 100%;
     width: 5%;
     float: right;
     color: #fff;
     /*visibility: hidden;*/
     opacity: 0;
}

#infinity { 
	position: relative; 
	width: 212px; 
	height: 100px; 
}

@media screen and (max-width: 980px) {
	#pagewrap {
	}

	#content {

	}

	#sidebar {
        display: block;

	}

	#sidebar .widget {

	}
}

@media screen and (max-width: 650px) {
	#pagewrap {
		width: 100%;
	}

	#header {
		height: auto;
	}

	sup {
		vertical-align: super;
		font-size: .5em; 
	}

	sub {
		font-size: .5em; 
		text-align:left;
	} 

	h1
	{

	}

    .menu-text {
        display: none;
    }

	#main-nav {
		position: static;
	}

	#site-logo {
		margin: 15px 100px 5px 0;
		position: static;
	}

	#site-description {
		margin: 0 0 15px;
		position: static;
	}

	#content {
		width: auto;
		float: none;
	}

	#sidebar {
        display: block;

	}
}
