sup {
    vertical-align: super;
    font-size: .35em;
}

sub {
    font-size: .5em;
    text-align:left;
}

.site-title {
    font-family: "Helvetica";
    text-align: left;
    font-size: 3.5vh;
    font-weight: 500;
    padding-top: 0.45vh;
    z-index: 2;
}

.links {
    height: auto;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 0 0;
    overflow: hidden;
    position: relative;
}
.hamburger-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 0 0;
    transition: opacity 0.7s ease, visibility 0s linear 0.7s, color 0.7s ease;
    background: #eaebf0;
    border: 1px solid $color-alpha;
    padding: 0;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    position: absolute;
    right: 0;
    z-index: 1;

    & .icon-hamburger {
        width: 1.25em;
        height: 1.25em;
        color: $color-alpha;
    }

}
.icon-hamburger {
  display: none;
}

#horizontal {
    display: inline-flex;
    list-style: none;
    font-size: 12px;
    align-items: center;
    transform: translateX(0);
    padding: 0 1.5em 0 0;
    transition: transform 200ms ease-out;
    &.hide {
         transform: translateX(100%);
    }
}

#horizontal li {
    margin-left: 0.2em;
    background-color: rgba(234, 235, 240, 0.5);
    padding: 0.2em;
    border-radius: 0.2em;
}

#horizontal li a {
    color: $color-alpha;
}

#horizontal li a:hover {
    color: $color-alpha--light;
}

.menu-text {
    font-family: "Helvetica";
    margin: 4px;
    box-sizing: border-box;
}

#logoutButton, #usernameButton, #whoButton {
    display: none;
}

#downloadButton {
    opacity: 0.2;
    transition: opacity 0.2s ease-in-out;
    cursor: default;

    &.enabled {
        opacity: 1;
        cursor: auto;
    }
}

.save-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 33vw 1vh 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s ease, visibility 0s linear 0.7s, color 0.7s ease;
    background: transparent;
    border: none;
    & .icon-cloud-upload {
        width: 6em;
        height: 6em;
    }
}

.logged {
    & #usernameButton {
        display: inline-block;
    }
    & #loginButton {
        display: none;
    }
    & #registerButton {
        display: none;
        opacity: 0;
    }
    #logoutButton {
        display: inline-block;
    }
    #whoButton {
        display: inline-block;
    }
    .save-btn {
         visibility: visible;
         opacity: 0.2;
         transition: opacity 0.7s ease, visibility linear 0, color 0.7s ease;
         color: $color-grey;
         z-index:23;
         &.save--enabled {
            opacity: 1;
             color: $color-alpha;
             transition: opacity 0.7s ease, color 0.7s ease;
        }
    }
}
