sup {
    vertical-align: super;
    font-size: .35em;
}

sub {
    font-size: .5em;
    text-align:left;
}

.site-title {
    font-family: "Helvetica";
    text-align:left;
    font-size: 3.5vh;
    font-weight: 500;
    padding-top: 0.45vh;
}

.links {
    margin: 0;
    height: auto;
}

#horizontal {
    display: flex;
    list-style: none;
    font-size: 12px;
}

#horizontal li {
    padding-left: 0.6em;
    display: flex;
    align-items: center;
}

#horizontal li a {
    color: $color-beta;
}

#horizontal li a:hover {
    color: $color-beta--light;
}

.menu-text {
    font-family: "Helvetica";
    margin: 4px;
    box-sizing: border-box;
}

