
.svg__option {
    width: 100%;
    margin: 0.3vh;
    border: 1px solid $color-alpha;
    border-radius: 2vh;
    overflow: hidden;
    box-sizing: border-box;
    background: transparent;
    transition: background 0.3s;
}

.option__label {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 700;
    color: $color-alpha;
}

.option__container {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5%;
    transform: scale(1);
    transition: transform 0.3s;

    @media screen and (min-width: 650px) {
      width: 24%;
    }

    &:hover > .option__label {
        color: $color-label;
    }
    &:hover {
        transform: scale(1.05);
    }
    &:hover > .svg__option {
        border: 1px solid $color-label;
        background: $color-white;
    }
}
