
.svg__option {
    width: 100%;
    margin: 0.3vh;
    border: 1px solid $color-alpha;
    border-radius: 2vh;
    overflow: hidden;
    box-sizing: border-box;
    background: transparent;
    transition: background 0.3s;
}

@media (prefers-color-scheme: dark) {
  .svg__option {
      border: 1px solid $color-night-border;
  }
}

.night .svg__option {
    border: 1px solid $color-night-border;
}

.option__label {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 700;
    color: $color-alpha;
    display: none;
}

@media (prefers-color-scheme: dark) {
  .option__label {
      color: $color-night-text;
  }
}

.night .option__label {
    color: $color-night-text;
}

.option__container {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5%;
    transform: scale(1);
    transition: transform 0.3s;
    cursor: pointer;

    @media screen and (min-width: 650px) {
      width: 24%;
    }

    &:hover > .option__label {
        color: $color-label;
    }
    &:hover {
        transform: scale(1.05);
    }
    &:hover > .svg__option {
        border: 1px solid $color-label;
    }
}

@media (prefers-color-scheme: dark) {
  .option__container {
      &:hover > .option__label {
          color: $color-night-text;
      }
      &:hover > .svg__option  {
          border: 1px solid $color-night-border;
      }
  }
}

.night .option__container {
    &:hover > .option__label {
        color: $color-night-text;
    }
    &:hover > .svg__option  {
        border: 1px solid $color-night-border;
    }
}

.selected--item svg {
  background-color: $color-alpha;
}

.selected--item svg:hover {
  background-color: $color-alpha;
}
