.overlay {
    &__modal {
      z-index: 2;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease 0.1s, visibility linear 0.4s;
    }
    &__credits {
      z-index: 2;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease 0.1s, visibility linear 0.4s;

        &__row, &__row--text {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1em 0;

          & a {
            width: 45%;
            & img {
              width: 100%;
            }
          }
        }
        &__row--text  {
          padding: 0;
        }
    }
    &__wrapper {
        border-radius: 5vmin;
        margin: 0 2em;
        overflow: hidden;
        transition: transform 0.2s ease, width 0.2s ease;
        transform: translate3d(0, -100vh, 0);
        &__credits {
          width: 100%;
          height: 100%;
          overflow: hidden;
          pointer-events: none;
        }
    }
    &__slider {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: auto;
      max-width: 480px;
      margin: 100vh auto 0 auto;
      padding: 0 5vw;
      box-sizing: border-box;
      font-family: arial, sans-serif;
      color: #fff;
      width: 100%;

      & h2, & h3 {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin: 0.25em 0 0.25em 0;
      }
    }
    &__panel {
        background-color: white;
        padding: 3vmin 10vw;
        overflow-y: auto;
        max-height: 65vh;
        max-width: 480px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1vmin;
        &--buttons {
            justify-content: space-around;
            margin-top: 3vmin;
            width: 100%;
            font-size: 16px;

            & .btn {
                width: 50%;
                font-size: 14px;
                padding: 15px;
                background-color: rgba(0, 255, 0, 0.5);
                border: solid 1px $color-green;
            }
            & .cancel-btn {
                background-color: $color-border;
                border: solid 1px $color-grey;
            }
        }
        &--char-list {
            flex-direction: column;
            min-width: 300px;
        }
        &__form {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__error {
        width: 100%;
        visibility: hidden;
        opacity: 0;
        font-size: 0.7em;
        border: solid 2px $color-error;
        border-radius: 1em;
        padding: 0 1.5vmin;
        background-color: rgba(255, 0, 0, 0.25);
        transition: opacity 0.2s ease, visibility 0s linear;

        &--show {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.2s ease, visibility 0s linear;
        }

        &__text {
            min-height: 0.7em;
        }
    }
    &__header, &__footer {
        background-color: $color-alpha;
        box-sizing: border-box;
        width: 100%;
        padding: 2vmin;
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__header {
        color: $color-white;
        & .close-btn {
          top: calc(50% - 0.8em);
        }
    }
    &__footer {
        &__text {
            font-size: 0.8em;
        }
        &__link {
            color: $color-white;
        }
    }
    &__char-card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2vmin;
        &--orig {
             display:none;
        }
    }
    &__char-btns {
         & .btn {
            border: solid 1px $color-green;
            background-color: rgba(0, 255, 0, 0.5);
         }
         & .overlay__char-delete {
            border: solid 1px $color-error;
            background-color: rgba(255, 0, 0, 0.5);
         }
    }
    &__char--current {
        background-color: $color-alpha;
        color: white;
        border-radius: 5vmin;

        & .overlay__char-edit {
            border: solid 1px $color-white;
            background-color: rgba(0, 255, 0, 1);
            color: $color-black;

        }
        & .overlay__char-delete {
            border: solid 1px $color-white;
            background-color: rgba(255, 0, 0, 1);
            color: $color-black;
        }
    }
    &__char-new {
        position: relative;

        &-btn {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.2s ease, visibility linear;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 1px $color-green;
            background-color: rgba(0, 255, 0, 0.5);
            padding: 15px;
        }
        &-form {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease, visibility linear 0.2s;
            position: absolute;
            display: flex;
            justify-content: space-between;
            padding-right: 4vmin;
            width: 100%;
            box-sizing: border-box;

            & .first-input {
                flex-grow: 1;
            }
        }
        &--create {
            & .overlay__char-new-btn {
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.2s ease, visibility linear 0.2s;
            }
            & .overlay__char-new-form {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.2s ease, visibility linear;
            }
        }
    }
    &__char {
        &-create-btn {
            margin-left: 0.45em;
            border: solid 1px $color-green;
            background-color: rgba(0, 255, 0, 0.5);
        }
    }
    &__label {
         display: block;
         margin: 15px 0 5px 0;
         color: $color-dark-grey;
    }
    &__input {
        max-width: 100%;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 15px;
        box-sizing: border-box;

        &__username {
             width: 10em;
        }

        &__password {
             width: 14em;
        }

        &__email {
             width: 18em;
        }
    }

    &__char-camera {
      display: flex;
      margin: 0 0 2em 0;

      & .camera-view {
        position: relative;
        width: 10em;
        background-color: #fff;
        margin: 2px;
        box-sizing: border-box;

        & input{
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }

        & svg {
          box-sizing: border-box;
          max-width: 100%;
          height: auto;
          overflow: hidden;
          border: 2px solid #f2f2f2;
        }

        & input:checked + label svg {
          border: 2px solid $color-alpha;
        }

        & span {
          box-sizing: border-box;
          padding: 0.25em;
          margin: 0 0 0 0;
          color: $color-alpha;
          background-color: #fff;
          width: 100%;
          display: block;
        }

        & label {
          display: block;
          height: 100%;
          cursor: pointer;
        }

        & input:checked + label span {
          color: #fff;
          background-color: $color-alpha;
        }
      }
    }

    &__filetype {
      margin-bottom: 1em;

      & .download-filetype {
        display:flex;
        align-items: center;

        & span {
          padding: 0 1em;
          color: $color-alpha;
        }

        & input:checked + label span {
          color: #fff;
          background-color: $color-alpha;
        }
      }
    }


    &__proceed-download-btn {

    }

}

.overlay--show {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease, visibility linear;

        & .overlay__wrapper {
            transform: translate3d(0, 0, 0);
            transition: transform 0.2s ease 0.1s;
        }

        & .overlay__slider {
          transform: translateY(calc(-100% - 100vh));
          transition: transform 50s linear 0.1s;
        }
}

.ui-buttons {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 80%;

    & button, & a {
      background-color: $color-alpha;
      border-radius: 25px;
      width: 100%;
      margin: 0.25em;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: $color-alpha--light;
      }
    }
}

.phat button {
  padding-top: 1em;
  padding-bottom: 1.25rem;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

.night .phat button {
  background: url('../hex.png');
  background-color: $color-night-background;
  color: $color-night-text;
  border: 1px solid $color-night-border;
}

@media (prefers-color-scheme: dark) {
  .overlay {
    &__header, &__footer {
        background: url('../hex.png');
        background-color: $color-night-background;
    }
  }
}

.night .overlay {
  &__header, &__footer {
      background: url('../hex.png');
      background-color: $color-night-background;
  }
}
