
.bottomContainer {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: randomReady 150ms 2s ease-in-out forwards;

  & .hudButton {
    pointer-events: all;
    background-color: $color-alpha;
    color: #fff;
    border-radius: 1.5em;
    opacity: 1;
    padding: 1em 1.5em;
    cursor: pointer;
    transition: color 250ms;
    transform-origin: bottom center;
    transform: scale(0.75);
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
    user-select: none;

    &:active {
      transform: translate(0, 1px);
    }

    &.hide{
      color: transparent;
      transition: color 150ms;
    }

    &:hover {
        background-color: $color-alpha--light;
        transition: transform 250ms ease-in-out, backgroundColor 250ms ease-in-out;
        transform: scale(1);
    }

    &#doneButton:not([class*="enabled"]) {
      opacity: 0;
      cursor: auto;
      pointer-events: none;
    }
  }
}

@keyframes randomReady {
  0% {opacity: 0;transform: translateY(5vh) scale(0.1);}
  100% {opacity: 1;transform: translateY(0) scale(1);}
}

.night #bigRedButton {
  background: url('../hex.png');
  background-color: $color-night-background;
  color: $color-night-text;
  border: 1px solid $color-night-border;
}
