.sidebar__container {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar {
    position: absolute;
    display: block;
    height: auto;
    font-family: helvetica, sans-serif;
    font-size: 0.8em;
    overflow: visible;
    box-sizing: border-box;
    background-color:rgba(255,255,255,0.5);
    color: $color-link;
    padding: 0;
    border:1px solid $color-border;
    width: 100%;

    @media screen and (min-width: 650px) {
        position: absolute;
        bottom: auto;
        top: 3%;
        width: 27%;
    }
}

.sidebar-right {
    top: 0;
    right: 0;
    margin-right: 1em;
    transform: translateX(150%);

    @media screen and (min-width: 650px) {
        top: 3%;
    }
}

.sidebar-left {
    bottom: 0;
    left: 0;
    margin-left: 3em;
    transform: translateX(-200%);

    @media screen and (min-width: 650px) {
        bottom: auto;
        width: 22%;
    }
}

.visible {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
}

.sidebar__title {
    text-align: center;
    font-weight: 100;
    background: $color-alpha;
    color: $color-white;
    font-size: 14px;
    border-bottom: 1px solid $color-border;
    margin: 0;
    padding: 12px 0 8px 0;
}
