$color-alpha: #e35a4e;
$color-alpha--light: #ec877c;
$color-beta: #f2f2f2;
$color-beta--light: #fff;
$color-grey: #ccc;
$color-dark-grey: #999;
$color-canvas: #eaebf0;
$color-border: #E6E6E6;
$color-white: #fff;
$color-black: #000;
$color-link: #1a1a1a;
$color-label: #a4433b;
$color-blue: #0088aa;
$color-blue--light: #00aad4;
$color-green: #00ff00;
$color-error: #ff0000;
$color-shadow: #888888;
$color-light-grey: #ddd;
$color-darker-grey: #777;
$color-title: #d40000;

$color-night-border: #4d4d4d;
$color-night-background: #666;
$color-night-title: #e6e6e6;
$color-night-text: #f9f9f9;
