.zoom-container {
  display: none;
    position: absolute;
    top: 5.5vh;
    left: 0.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-150%);
    transition: transform 0.2s ease-in-out;

    @media screen and (min-width: 650px) {
      display: flex;
    //     top: 2%;
    }

    &--show {
        transform: translateX(0);
        transition: transform 0.2s ease-in-out;
    }


}

.zoom-icon {
    fill: currentColor;
    color: $color-alpha;
    width: 16px;
    height: 16px;
}

@media (prefers-color-scheme: dark) {
  .zoom-icon {
    color: $color-night-text;
  }
}

.night .zoom-icon {
  color: $color-night-text;
}

#zoomLevel {
    margin-top: 1em;
}
