.zoom-container {
    position: absolute;
    top: 23%;
    left: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 650px) {
        top: 2%;
    }
}

.zoom-icon {
    fill: currentColor;
    color: $color-alpha;
    width: 16px;
    height: 16px;
}

