
.corner-advert {
  &--left {
    width: 336px;
    height: 280px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: transparent;
  }
  &--right {
    width: 336px;
    height: 280px;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: transparent;
  }
}
