
#logoutButton, #usernameButton, #whoButton {
    display: none;
}

#downloadButton {
    opacity: 0.2;
    transition: opacity 0.2s ease-in-out;
    cursor: default;
    &.enabled {
        opacity: 1;
        cursor: auto;
    }
}

.save-btn {
     position: fixed;
     right: 0;
     bottom: 0;
     margin: 5vmin;
     padding: 2vmin;
     visibility: hidden;
     opacity: 0;
     transition: opacity 0.2s ease, visibility linear 0.2s;
}

.logged {
    & #usernameButton {
        display: inline-block;
    }
    & #loginButton {
        display: none;
    }
    & #registerButton {
        display: none;
        opacity: 0;
    }
    #logoutButton {
        display: inline-block;
    }
    #whoButton {
        display: inline-block;
    }
    .save-btn {
         visibility: visible;
         opacity: 0.2;
         transition: opacity 0.2s ease, visibility linear 0;
         z-index:23;
         &.save--enabled {
              opacity: 1;
        }
    }
}

