
.male {
    transform: translate3d(-111px, 0, 0);
}

.female {
    transform: translate3d(111px, 0, 0);
}

.select-male {
    & .female {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    & .male {
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s ease-out, fill-opacity 0.3s ease, stroke-opacity 0.3, fill 0.3s ease;
        fill-opacity: 1;
        stroke-opacity: 0;
    }
}

.select-female {
    & .female {
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s ease-out, fill-opacity 0.3s ease, stroke-opacity 0.3s, fill 0.3s ease;
        fill-opacity: 1;
        stroke-opacity: 0;
}
    & .male {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

