.idea/
node_modules/
src/dist/
prod/
cc-v2.code-workspace
all-functions.txt
hop.dot
kin-o.svg
kin.svg
my_character-o.png
my_character-o.svg
my_character.png
my_character.svg
src/index.html
config.json
cc3.code-workspace
notes.md
.DS_Store

