node_modules/
.DS_Store
cc-v2.code-workspace
src/dist/
prod/
all-functions.txt
hop.dot
.idea/charactercreator.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
