::ng-deep div.revenue {

    app-slider.actual {
        div.bar {
            background-color: #009982;
        }
        span.label, span.value {
            color: #009982;
        }
    }

    app-slider.simulation {
        & .container {
          div.bar {
              background-color: #00665a;
              transition: background-color 1s ease;
          }
          &.pan-active div.bar {
            background-color: #23978a;
            transition: background-color 1s ease;
          }
        }
        span.label, span.value {
            color: #00665a;
        }
    }

    div.loupe button {
        color: #004c4a;
    }

    div.tiroir {
        background-color: #004c4a;
    }

    div.poste {
        padding: 20px 30px;
        h4 {
            color: #009982;
        }
    }

}

div.total p {
    background-color: #c5f2eb;
    color: lighten(#00665a, 5%);
    font-family: 'Roboto';
    font-size: 22px / 16px * 1rem;
    font-weight: 500;
    margin: 2em 0;
    padding: 1em 1em;

    span {
        color: #00665a;
        font-size: 26px / 16px * 1rem;
        font-weight: 700;
    }
}

header {
    background-color: white;

    & h3 {
        color: #00665a;
    }
}
